body {
  background-color: rgb(191, 191, 191);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

article {
  background-color: rgb(228, 229, 230);
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  margin-bottom: 5rem;
  border-bottom: 2px solid gray;
}